name: Ruby CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.5.9, 2.6.10, 2.7.8, jruby-9.3]
        gemfile:
          - Gemfile.activesupport-4.0
          - Gemfile.activesupport-4.1
          - Gemfile.activesupport-4.2
          - Gemfile.activesupport-5.0
          - Gemfile.activesupport-5.1
        exclude:
          - ruby: jruby-9.3
            gemfile: Gemfile.activesupport-5.0
          - ruby: jruby-9.3
            gemfile: Gemfile.activesupport-5.1
          - ruby: 2.5.9
            gemfile: Gemfile.activesupport-4.0
          - ruby: 2.5.9
            gemfile: Gemfile.activesupport-4.1
          - ruby: 2.5.9
            gemfile: Gemfile.activesupport-4.2

    continue-on-error: ${{ matrix.continue-on-error || false }}

    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Update Bundler
        run: gem update --remote bundler

      - name: Install dependencies
        run: bundle install

      - name: Run tests
        run: bundle exec rake
